* {
    margin: 0px;
}

body {
    padding: 16px;
}

.container {
    font-family: "Helvetica Neue", Arial, sans-serif;
    display: grid;
    gap: 16px;
    /*row-gap: 16px;*/
    /*column-gap: 16px;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 174px 100px auto 50px;
    grid-template-areas:
            "one three three"
            "two three three"
            "two five four"
            "two five ."
            "six six six";
}

.blok {
    background-color: hsl(212, 43%, 65%);
    border: 1px solid hsl(212, 94%, 19%);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    background-color: hsl(212, 43%, 65%);
    border: 1px solid hsl(212, 94%, 19%);
    color: #ffffff;
    display: flex;
    padding: 16px;
}

#item-A {
    grid-area: one;
}

#item-B {
    grid-area: two;
}

#item-C {
    grid-area: three;
}

#item-D {
    grid-area: four;
}

#item-E {
    grid-area: five;
}

#item-F {
    grid-area: six;
}

@media screen and (max-width: 576px) {

    .container {
        /*font-family: "Helvetica Neue", Arial, sans-serif;*/
        /*!*background-color: hsl(212, 37%, 90%);*!*/
        /*display: grid;*/
        /*row-gap: 16px;*/
        /*column-gap: 16px;*/
        /*margin: 10px;*/
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "."
            "six";
    }

}


